$theme-royal-velvet-rm: (
  ctp-rosewater: #E8FFCE,
  ctp-flamingo: #F5BDA6,
  ctp-pink: #FFC7EA,
  ctp-mauve: #D8B4F8,
  ctp-red: #F7DBF0,
  ctp-maroon: #FD8A8A,
  ctp-peach: #E6C37D,
  ctp-yellow: #FBF0B2,
  ctp-green: #99FEFF,
  ctp-teal: #CDF0EA,
  ctp-sky: #CAEDFF,
  ctp-sapphire: #99FEFF,
  ctp-blue: #94B3FD,
  ctp-lavender: #BEAEE2,
  ctp-text: #F9F9F9,
  ctp-subtext1: #D3D3C5,
  ctp-subtext0: #BFBFB5,
  ctp-overlay2: #8B8FA7,
  ctp-overlay1: #6E7291,
  ctp-overlay0: #585C74,
  ctp-surface2: #44475A,
  ctp-surface1: #383B4C,
  ctp-surface0: #303241,
  ctp-base: #1E1E24,
  ctp-mantle: #19191E,
  ctp-crust: #141419,
  theme-mode: "dark",
  theme-name: "royal-velvet-rm",
);
